<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cocktail App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cocktail App</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size-md="6" offset-md="3">
          <ion-img src="../assets/icon/preview.jpg"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
 
 
</ion-content>
